node_modules/
dist/
!site/static/lib/bootstrap/dist/
!site/static/lib/isotope/dist/
!site/static/lib/jquery.mb.ytplayer/dist/
!site/static/lib/jquery/dist/
!site/static/lib/magnific-popup/dist/
!site/static/lib/masonry/dist/
!site/static/lib/owl.carousel/dist/
!site/static/lib/wow/dist/
